%section.mypage-tab-container
  %h2.mypage-tab-head
    購入した商品
  %ul.mypage-tabs
    %li.bold.active
      %h3
        = link_to mypage_purchase_path do
          取引中
    %li.bold
      %h3
        = link_to mypage_purchased_path do
          過去の取引
  .tab-content
    - if @purchase_products
      %ul#mypage-tab-transaction-now.active-item
        - @purchase_products.each do |product|
          -if product.rate.nil?
            %li
              = link_to "/transaction/#{product.id}",class: "mypage-item-link" do
                %figure
                  - if product.product_images.present?
                    = image_tag "#{product.product_images[0].image}",alt: "#{product.name}"
                    %figcaption.mypage-sold
                      .item-sold-out-badge
                        %div SOLD
                .mypage-item-body
                  .mypage-item-text
                    = "「#{product.name}」を購入しました"
                    %br
                    受け取り評価をしてください
                  .mypage-item-status.bold.action-required
                    受取評価待ち
          - elsif product.rate.seller_rate.nil?
            %li
              = link_to "/transaction/#{product.id}/edit",class: "mypage-item-link" do
                %figure
                  - if product.product_images.present?
                    = image_tag "#{product.product_images[0].image}",alt: "#{product.name}"
                    %figcaption.mypage-sold
                      .item-sold-out-badge
                        %div SOLD
                .mypage-item-body
                  .mypage-item-text
                    = "「#{product.name}」を購入しました"
                    %br
                    受け取り評価をしてください
                  .mypage-item-status.bold.action-required
                    受取評価待ち
          - else
            %li.mypage-item-not-found.bold
              取引中の商品がありません


    - else
      %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane
        %li.mypage-item-not-found.bold
          取引中の商品がありません

