%section.mypage-user-icon
  = link_to "#" do
    %figure
    - if @user.image?
      = image_tag("#{@user.image}", class: "profile-image")
    - if current_user.id == @user.id
      .form-wrapper
        = form_for @user do |f|
          %label{for: 'profile_img'}
            = fa_icon 'images'
            = f.file_field :image, class: "profile-image-change", id: "profile_img"
            = f.button type: "submit", id: "profile_img_change" do
              = fa_icon "angle-up"
    %h2.bold
      = @user.name
    .mypage-number
      %div
        評価
        %span.bold
          0
      %div
        出品数
        %span.bold
          0
