%main.l-container.clearfix
  .l-content
    %section.mypage-user-icon
      = link_to "#" do
        %figure
          %img
        %h2.bold
          Shuta imai
        .mypage-number
          %div
            評価
            %span.bold
              0
          %div
            出品数
            %span.bold
              0
    %section.mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li
          %h3
            =link_to "お知らせ", "#"
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          %li
            =link_to "#", class: "mypage-item-link" do
              %figure
                %img.lazyloaded{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
              .mypge-item-body
                .mypage-item-text
                  【期間限定のお得情報】2018年話題になった賞品をプレゼント！キャンペーン詳細はこちら
                %time
                  %i.icon-time
                  %span
                    4日前
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-item-link" do
              %figure
                %img.lazyloaded{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
              .mypge-item-body
                .mypage-item-text
                  【期間限定のお得情報】2018年話題になった賞品をプレゼント！キャンペーン詳細はこちら
                %time
                  %i.icon-time
                  %span
                    4日前
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-item-link" do
              %figure
                %img.lazyloaded{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
              .mypge-item-body
                .mypage-item-text
                  【期間限定のお得情報】2018年話題になった賞品をプレゼント！キャンペーン詳細はこちら
                %time
                  %i.icon-time
                  %span
                    4日前
              %i.icon-arrow-right
          %li
            =link_to "#", class: "mypage-item-link" do
              %figure
                %img.lazyloaded{:alt => "", "data-src" => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png", :src => "//static-mercari-jp-imgtr2.akamaized.net/images/mercari_profile.png"}/
              .mypge-item-body
                .mypage-item-text
                  【期間限定のお得情報】2018年話題になった賞品をプレゼント！キャンペーン詳細はこちら
                %time
                  %i.icon-time
                  %span
                    4日前
              %i.icon-arrow-right
          %li.mypage-go-list
            =link_to "一覧を見る", "#"
    %section.mypage-tab-container
      %h2.mypage-tab-head
        購入した商品
      %ul.mypage-tabs
        %li
          %h3
            = link_to "#" do
              取引中
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold
          取引中の商品がありません
  .l-side
    %nav.mypage-nav
      %ul.mypage-nav-list
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            マイページ
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            お知らせ
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item " do
            やることリスト
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            いいね!一覧
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            出品する
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            出品した商品 - 出品中
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            出品した商品 - 取引中
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            出品した商品 - 売却済み
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            購入した商品 - 取引中
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            購入した商品 - 過去の取引
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            ニュース一覧
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            評価一覧
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            ガイド
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            お問い合わせ
            %i
      %h3.mypage-nav-head
        売上・ポイント
      %ul.mypage-nav-list
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            売上･振込申請
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            ポイント
            %i
      %h3.mypage-nav-head
        設定
      %ul.mypage-nav-list
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            プロフィール
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            住所変更
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            支払い方法
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            メール/パスワード
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            本人情報
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            電話番号の確認
            %i
        %li
          = link_to "#", class: "mypage-nav-list-item" do
            ログアウト
            %i

