= render "products/header"
/ - breadcrumb :users_index
- breadcrumb :show_user, @user
%nav.aaa
  = breadcrumbs separator: " > "

%main.l-container.clearfix
  .l-content
    = render "user_icon"
    = render "infomation"
    = render "bought_product"
  = render "sidebar"

= render "products/footer"
