= render "products/header"
/ - breadcrumb :users_index
%nav.aaa
  = breadcrumbs separator: " > "

%main.l-container.clearfix
  .l-content
    = render partial: "exhibit",locals: { products: @products }
  = render "sidebar"

= render "products/footer"
