.single-container
  - breadcrumb :new_user
  %nav
    = breadcrumbs separator: " > "
    = render "users/header.html.haml"
  %main.single-main
    %section.l-single-container
      .l-single-head
        新規会員登録
      .l-single-inner
        .l-single-content
          = link_to new_user_registration_path, class: "btn-default btn-mail" do
            %i.fa.fa-envelope-o.fa-2x
            メールアドレスで登録
          %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
            %i.fa.fa-facebook-official.fa-2x
            = link_to user_facebook_omniauth_authorize_path do
              Facebookで登録
          %button#google-login.btn-default.btn-sns.btn-sns-google
            %i.fab.fa-google-plus-g.fa-2x
            = link_to user_google_oauth2_omniauth_authorize_path do
              Googleで登録

  = render "users/footer.html.haml"
