%body
  %main.l-single-main
    %section.l-single-container
      %h2.l-single-head 支払い方法
      = form_tag '/pay', class: "l-single-inner", id: "add-card-form" do |f|
        .l-single-content
          .form-group
            = label_tag :payment_card_no do
              カード番号
            %span.form-require 必須
            = text_field_tag :number, "", {class: "input-default", id: "payment_card_no", maxlength: "16", placeholder: "半角数字のみ"}
          .form-group.signup-form-expire
            = label_tag :payment_card_expire do
              有効期限
            %span.form-require 必須
            %br/
            .select-wrap4
              %select#payment_card_expire_mm.select-default{name: "month"}
                %option{:value => "01"} 01
                %option{:value => "02"} 02
                %option{:value => "03"} 03
                %option{:value => "04"} 04
                %option{:value => "05"} 05
                %option{:value => "06"} 06
                %option{:value => "07"} 07
                %option{:value => "08"} 08
                %option{:value => "09"} 09
                %option{:value => "10"} 10
                %option{:value => "11"} 11
                %option{:value => "12"} 12
              %i.icon-arrow-bottom
            %span.moon 月
            %ul#expire-mm-error-wrapper.has-error-text
            .select-wrap4
              %select#payment_card_expire_yy.select-default{name: "year"}
                %option{:value => "19"} 19
                %option{:value => "20"} 20
                %option{:value => "21"} 21
                %option{:value => "22"} 22
                %option{:value => "23"} 23
                %option{:value => "24"} 24
                %option{:value => "25"} 25
                %option{:value => "26"} 26
                %option{:value => "27"} 27
                %option{:value => "28"} 28
                %option{:value => "29"} 29
              %i.icon-arrow-bottom
            %span 年
            %ul#expire-yy-error-wrapper.has-error-text
          .form-group
            = label_tag :payment_card_security_code do
              セキュリティコード
            %span.form-require 必須
            = number_field_tag :cvc, "", {class: "input-default", id: "payment_card_security_code", placeholder: "カード背面4桁もしくは3桁の番号"}
            %ul#security-code-error-wrapper.has-error-text
            .signup-seqcode
              .signup-seqcode-text{"data-js" => "show-tips-toggle"}
                %span.form-question>
                %i.fas.fa-question-circle
                カード裏面の番号とは？
          = submit_tag "次へ進む", {class: "btn-red btn-default", id: "submit-button"}
  %footer.single-footer
    %nav
      %ul.clearfix
        %li
          %a{href: "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
        %li
          %a{href: "https://www.mercari.com/jp/tos/"} メルカリ利用規約
        %li
          %a{href: "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
    %a.single-footer-logo{href: "https://www.mercari.com/jp/"}
      %img{alt: "mercari", height: "65", src: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?327793976", width: "80"}/
    %p
      %small © 2019 Mercari
