- if flash[:success]
  %p#flash.flash-notice
    = flash[:success]
%header.pc-header.visible-pc
  .pc-header-inner
    .clearfix
      %h1.l-left
        = link_to root_path do
          = image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?4136293187")
      = form_tag(search_path, method: :get,class: "pc-header-form l-right",enforce_utf8: false ) do
        %input.input-default{name: "keyword", placeholder: "キーワードから探す", type: "search", value: ""}
        %i.fa.fa-search
    .pc-header-nav-box.clearfix
      %nav.l-left
        %ul.pc-header-nav
          %li.category-list
            %h2
              = link_to category_index_path ,class: "pc-header-nav-foot" do
                カテゴリーから探す
            %ul.pc-header-nav-parent-wrap
              - @categoryroot.each do |root|
                %li.pc-header-nav-parent
                  %h3
                    = link_to category_path(id: root.id) do
                      = root.name
                  %ul.pc-header-nav-child-wrap
                    - root.children.first(14).each do |child|
                      %li.pc-header-nav-child
                        = link_to category_path(id: child.id) do
                          = child.name
                        %ul.pc-header-nav-grand-child-wrap
                          - child.children.first(14).each do |son|
                            %li.pc-header-nav-grand-child
                              = link_to category_path(id: son.id) do
                                = son.name
              %li.pc-header-nav-parent
                %h3
                  = link_to category_index_path do
                    カテゴリー一覧
          %li
            %h2
              %ul.pc-header-nav-parent-wrap
                %li
      - if user_signed_in?
        .l-right2
          %ul.pc-header-user-nav
            %li
              = link_to users_path, class: "pc-header-nav-root" do
                マイページ
            %li
              = link_to destroy_user_session_path, method: :delete,class: "pc-header-logout" do
                ログアウト
      - else
        .l-right2
          %ul.pc-header-login-nav
            %li
              = link_to new_user_session_path, class: "sp-header-btn btn-red" do
                ログイン
            %li
              = link_to new_user_path, class: "sp-header-btn header-signup" do
                新規会員登録
