%section.owl-carousel.top-carousel.owl-loaded.owl-drag
  .owl-stage-outer
    .owl-stage
      .owl-item
        %div
          .top-main-visual
            %div
              .top-main-visual-content
                %h2
                  スマホでかんたん
                  %br
                  フリマアプリ
                %p
                  メルカリはスマホカメラからすぐに出品できる
                  %br
                  購入時も安心な独自システムのアプリです
                .top-main-visual-store.clearfix
                  = link_to root_path ,class: "pull-left" do
                    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4136293187"
                  = link_to root_path ,class: "pull-left" do
                    = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4136293187"

              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?4136293187",class: "top-main-visual-iphone-picture"
      .owl-item
        = link_to "",root_path,class: "top-banner banner-bokurano-heisei"
      .owl-item
        = link_to "",root_path,class: "top-banner banner-kusanagi"
      .owl-item
        = link_to "",root_path,class: "top-banner banner-welcome"
%section.pickup-container
  %h2.pickup-head ピックアップカテゴリー
  - if @ladies.length != 0
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to category_path(Category.find(1)) do
          = Category.find(1).name + "新着アイテム"


      .items-box-content.clearfix
        = render partial: "productlist", collection: @ladies, as: :product


      .view-all
        = link_to category_path(Category.find(1)) do
          すべての商品を見る
  - if @mens.length != 0
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to category_path(Category.find(2)) do
          = Category.find(2).name + "新着アイテム"
      .items-box-content.clearfix
        = render partial: "productlist", collection: @mens, as: :product

      .view-all
        = link_to category_path(Category.find(2)) do
          すべての商品を見る
  - if @baby_products.length != 0
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to category_path(Category.find(3)) do
          = Category.find(3).name + "新着アイテム"
      .items-box-content.clearfix
        = render partial: "productlist", collection: @baby_products, as: :product

      .view-all
        = link_to category_path(Category.find(3)) do
          すべての商品を見る
  - if @interior_products.length != 0
    %section.items-box-container.clearfix
      %h3.text-center
        = link_to category_path(Category.find(4)) do
          = Category.find(4).name + "新着アイテム"
      .items-box-content.clearfix
        = render partial: "productlist", collection: @interior_products, as: :product

      .view-all
        = link_to category_path(Category.find(4)) do
          全ての商品を見る


