
%section.items-box
  = link_to product_path(product) do
    %figure.items-box-photo
      - if product.product_images.present?
        = image_tag "#{product.product_images[0].image_url}",class: "is-higher-height lazyloaded",alt: "#{product.name}"
      - if product.trade.user_id?
        .items-box-photo-badge
          %div
            SOLD
    .items-box-body
      %h3.items-box-name.font-2
        = product.name
      .items-box-num.clearfix
        .items-box-price.font-5
          - if product.price
            = converting_to_jpy(product.price)
        %p.item-box-tax (税込)
