- if flash[:miss]
  %p#flash.flash-alert
    = flash[:miss]
.single-container{style: 'padding: 0;'}
  = render "users/header.html.haml"
%main.single-main
  %section.l-single-container.sell-item-container
    #sell-container
      %div
        .sell-container-inner
          %h2.l-single-head 商品の情報を入力
          = form_for @product, html: {class: "sell-form"} do |f|
            .sell-upload-box
              %h3.sell-upload-head
                出品画像
                %span.form-require
                  必須
              %p
                最大4枚までアップロードできます
              .sell-dropbox-container.clearfix.state-image-number-4
                .sell-upload-items-container
                  .sell-upload-items.have-item-0
                    %ul.preview
                      - @product.product_images.each_with_index do |images, index|
                        - if images.image.present?
                          %li{class: "img-list img-list#{index}"}
                            %figure.img-list-figure
                              = image_tag images.image.to_s, {alt: "", class: "img#{index}"}
                            .sell-upload-button
                              = link_to "削除", edit_product_path, id: "delete", class: "delete#{index}"
                = f.fields_for :product_images do |i|
                  %label.sell-upload-drop-box.have-item
                    %pre.visible-pc
                      :preserve
                        ドラッグアンドドロップ
                        or
                        ファイルアップロード
                    = i.file_field :image, class: "file"
            .sell-content
              .form-group
                = f.label :name do
                  商品名
                  %span.form-require
                    必須
                %div
                  = f.text_field :name, class: "input-default", placeholder: "商品名（必須 40文字まで)"
              .form-group
                = f.label :detail do
                  商品の説明
                  %span.form-require
                    必須
                = f.text_area :detail, class: "textarea-default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
            .sell-content.clearfix
              %h3.sell-sub-head
                商品の詳細
              .sell-form-box
                .form-group
                  = f.label :category_id do
                    カテゴリー
                    %span.form-require
                      必須
                  %div
                    .select-wrap
                      = collection_select :product, :category_id, @categoryroot, :id, :name, {include_blank: "---"}, {class: "select-default select-box-parent"}
                      %i.fas.fa-chevron-down
                  - @categoryroot.each do |root|
                    .select-box-list
                      - if @category_ids[0] == root.id
                        = collection_select :product, :category_id, root.children, :id, :name,{include_blank: "---"}, {class: "select-default select-box-child active",child_id: "#{root.id}"}
                        %i.fas.fa-chevron-down
                      - else
                        = collection_select :product, :category_id, root.children, :id, :name,{include_blank: "---"}, {class: "select-default select-box-child",child_id: "#{root.id}"}
                        %i.fas.fa-chevron-down
                    - root.children.each do |son|
                      .select-box-list-son
                        - if @category_ids[1] == son.id
                          = f.collection_select :category_id, son.children, :id, :name, {:include_blank => "---"}, {class: "select-default select-box-son active", son_id: "#{son.id}"}
                          %i.fas.fa-chevron-down
                        - else
                          = f.collection_select :category_id, son.children, :id, :name, {:include_blank => "---"}, {class: "select-default select-box-son", son_id: "#{son.id}"}
                          %i.fas.fa-chevron-down
                  = f.hidden_field :category_id, {class: "category"}
                .form-group
                  = f.label :size_id do
                    サイズ
                    %span.form-require 必須
                  .select-wrap
                    = f.collection_select :size_id, Size.all, :id, :name, {include_blank: "---"}, {class: "select-default"}
                    %i.fas.fa-chevron-down
                .form-group
                  = f.label :condition do
                    商品の状態
                    %span.form-require 必須
                  .select-wrap
                    = f.select :condition, Product.conditions.keys.map {|k| [I18n.t("enums.product.condition.#{k}"), k]}, {include_blank: "---"}, class: "select-default"
                    %i.fas.fa-chevron-down
            .sell-content.clearfix
              %h3.sell-sub-head 配送について
              %a.form-question{href: "/", target: "_blank"} ?
              .sell-form-box
                .form-group
                  = f.label :shipingfee_id do
                    配送料の負担
                    %span.form-require 必須
                  .select-wrap
                    = f.collection_select :shipingfee_id, Shipingfee.all, :id, :name, {include_blank: "---"}, {class: "select-default select-delivery"}
                    %i.fas.fa-chevron-down
                .form-group.form-group-shipment
                  = f.label :shipment_id, {id: "label-shipment", class: "active"} do
                    配送の方法
                    %span.form-require 必須
                  .select-wrap
                    = f.collection_select :shipment_id, @exhibitor, :id, :name, {include_blank: "---"}, {class: "select-default select-method", shipingfee_id: 1}
                    %i.fas.fa-chevron-down
                  .select-wrap
                    = f.collection_select :shipment_id, @buyer, :id, :name, {include_blank: "---"}, {class: "select-default select-method", shipingfee_id: 2}
                    %i.fas.fa-chevron-down
                  = f.hidden_field :shipment_id, {class: "shipment"}
                .form-group
                  = f.label :area_id do
                    発送元の地域
                    %span.form-require 必須
                  .select-wrap
                    = f.collection_select :area_id, Area.all, :id, :name, {include_blank: "---"}, {class: "select-default"}
                    %i.fas.fa-chevron-down
                .form-group
                  = f.label :shipmentday do
                    発送までの日数
                    %span.form-require 必須
                  .select-wrap
                    = f.select :shipmentday, Product.shipmentdays.keys.map {|k| [I18n.t("enums.product.shipmentday.#{k}"), k]}, {include_blank: "---"}, class: "select-default"
                    %i.fas.fa-chevron-down
            .sell-content.clearfix
              %h3.sell-sub-head 販売価格(300〜9,999,999)
              = link_to "?", root_path, class: "form-question"
              .sell-form-box
                %ul.sell-price
                  %li.form-group
                    .clearfix
                      = f.label :price, class: "l-left" do
                        価格
                        %span.form-require 必須
                      .l-right.sell-price-input
                        ¥
                        %div
                          = f.text_field :price, class: "input-default input-price", placeholder: "例）300"
                  %li.clearfix
                    .l-left
                      販売手数料 (10%)
                    .l-right.default-price.default-commission -
                  %li.clearfix.bold
                    .l-left
                      販売利益
                    .l-right.default-price.default-gain -
            .modal{role: "dialog", tabindex: "-1"}
              .modal-inner
            .sell-content.sell-btn-box
              %div
                %p
                  = link_to "禁止されている出品", root_path
                  、
                  = link_to "行為", root_path
                  を必ずご確認ください。
                %p
                  またブランド品でシリアルナンバー等がある場合はご記載ください。
                  = link_to "偽ブランドの販売", root_path
                  は犯罪であり処罰される可能性があります。
                %p
                  また、出品をもちまして
                  = link_to "加盟店規約", root_path
                  に同意したことになります。
              = f.submit "変更する", class: "btn-default btn-red"
              = link_to "もどる", root_path, class: "btn-default btn-gray"
          .overlay

= render "users/footer.html.haml"
