= render "products/header"
- breadcrumb :product, @product
%nav.pan
  = breadcrumbs separator: " > "
%section.item-box-container.l-single-container
  %h1.item-name
    = @product.name
  .item-main-content.clearfix
    .item-photo
      .owl-carousel.owl-loaded.owl-drag
        .owl-stage-outer
          .owl-stage-product
            - if @product.product_images
              - @product.product_images.each do |image|
                .owl-item
                  .owl-item-inner
                    %img.owl-lazy(src="#{image.image_url}")
        .owl-nav.disable
          .owl-prev
          .owl-next
        / .owl-dots
        /   .owl-dot
        /     %span
        /     .owl-dot-inner
        /       %img(src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m40712253135_2.jpg?1545354854")
        /   .owl-dot
        /     %span
        /     .owl-dot-inner
        /       %img(src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m40712253135_3.jpg?1545354854")
        /     .owl-item
        /   .owl-dot
        /     %span
        /     .owl-dot-inner
        /       %img(src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m40712253135_3.jpg?1545354854")
        /   .owl-dot
        /     %span
        /     .owl-dot-inner
        /       %img(src="https://static-mercari-jp-imgtr2.akamaized.net/item/detail/orig/photos/m40712253135_4.jpg?1545354854")
      - if @product.trade.deal == true
        .item-sold-out-badge
          %div
            SOLD
          / ここまで
    %table.item-detail-table
      %tbody
        %tr
          %th
            出品者
          %td
            =link_to "#" do
              = @product.user.id
            %div
              %div.item-user-ratings
                %i.fas.fa-smile
                %span
                  643
              %div.item-user-ratings
                %i.fas.fa-meh
                %span
                  22
              %div.item-user-ratings
                %i.fas.fa-frown
                %span
                  3
        %tr
          %th
            カテゴリー
          %td
            =link_to "#" do
              %div
                = @product.category.root.name
            =link_to "#" do
              .item-detail-table-sub-category
                %i.icon-arrow-right
                  = @product.category.parent.name
            =link_to "#" do
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                  = @product.category.name
        %tr
          %th
            ブランド
          %td
            =link_to "#" do
              コーチ
        - if @product.size
          %tr
            %th
              サイズ
            %td
              = @product.size.name
        %tr
          %th
            商品の状態
          %td
            = @product.condition_i18n
        %tr
          %th
            配送料の負担
          %td
            送料込み(出品者負担)
        %tr
          %th
            配送の方法
          %td
            らくらくメルカリ便
        %tr
          %th
            配送元地域
          %td
            =link_to "#" do
              = @product.area.name
        %tr
          %th
            発送日の目安
          %td
            = @product.shipmentday_i18n
  .item-price-box.text-center
    %span.item-price.bold
      = converting_to_jpy(@product.price)
    %span.item-tax
      (税込)
    %span.item-shipping-fee
      送料込み
  - if @product.trade.deal == false
    = link_to mypayjp_path, class: "item-buy-btn" do
      商品を購入する
  - elsif @product.trade.deal == true
    .item-buy-btn.disabled
      売り切れました

  .item-description
    %p.item-description-inner
      = @product.detail
  .item-button-container.clearfix

    .item-button-left#like-button
      - if current_user.already_liked?(@product)
        = render partial: 'like_destroy_form', locals: { product: @product }
      - else
        = render partial: 'like_create_form', locals: { product: @product }
      %a.item-button.item-button-report.crearfix
        %i.far.fa-flag
        %span 不適切な商品の報告

    .item-button-right
      %a(href='#')
        %i.fas.fa-lock
        %span あんしん・あんぜんへの取り組み


.listing-item-change-box
  = link_to "商品の編集", edit_product_path ,class: "btn-default btn-red"
  %p.text-center
    or
  = form_for @product , method: :delete do |f|
    / %input(type ="hidden" name ="_csrf_value" value="damii")

    %button.btn-default.btn-red(type= "submit")
      出品を再開する

    = f.submit 'この商品を消去する', class: "btn-default btn-gray"


%ul.nav-item-link-prev-next.clearfix
  %li.nav-item-link-prev
    %a(href='#')
      %i.fas.fa-chevron-left
      商品名
  %li.nav-item-link-next
    %a(href='#')
      商品名
      %i.fas.fa-chevron-right



.item-social-media-box
  / よくわからない者以下
  .text-center
    .fb-save.fb_iframe_widget
      %span
  %ul.social-media-box
    %li
      %a.share-btn(href="#")
        %i.fab.fa-facebook
    %li
      %a.share-btn(href="#")
        %i.fab.fa-twitter
    %li.social-hiddne-item
      %a(href="#")
        %i.fab.fa-line
    %li
      %a(href="#")
        %i.fab.fa-pinterest


.item-detail-message
  .message-container
    .message-content
      %ul.message-items
        / 以下コメント１セット
        %li.clearfix
          / ユーザー情報以下
          %a.message-user(href="#")
            %figure
              %div
                / ユーザー画像
                %img(src="//static-mercari-jp-imgtr2.akamaized.net/thumb/members/110939089.jpg?1464094325")
                / ユーザー名
              %figcaption.bold
                もっちぃ
          .message-body
            / コメント
            .message-body-text
              コメント失礼します！25日までに届けていただくことはできますか？ちなみに住所は神奈川県です。
            .message-icons.clearfix
              .message-icon-left
                %i.far.fa-clock
                %span 7日前
                / 不適切な投稿報告
              .message-icon-right
                %form(action="#")
                  %button(type="submit")
                    %i.fa.fa-flag
            .i.icon-balloon
            / ここまで

        %li.clearfix
          %a.message-user(href="#")
            %figure
              %div
                %img(src="//static-mercari-jp-imgtr2.akamaized.net/thumb/members/110939089.jpg?1464094325")
              %figcaption.bold
                ※12月28〜1月4日迄、出荷不可です。
              / 以下出品者だった場合
            .message-is-seller
              出品者
              / ここまで
          .message-body
            .message-body-text
              コメントありがとうございます。
              明日発送可能で、埼玉県からの発送となりますので、25日着は問題無いかと思います。
              宜しくお願い致します。

            .message-icons.clearfix
              .message-icon-left
                %i.far.fa-clock
                %span 7日前
              .message-icon-right
                %form(action="#")
                  %button(type="submit")
                    %i.fa.fa-flag
            .i.icon-balloon


    .message-content
      %form.message-form(action="#")
        / %input(type="hidden")トークン用？
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input(type="hidden" name="item_id" value="hogehoge")
        %input(type="hidden" name="redirect_url_key" value="item_detail")
        %textarea.textarea-default(type="text" name="body")
        %button.message-submit(type="submit")
          %spam コメントする

